<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Barny.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Barny.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>irc.dinokick.net</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="Nick" serializeAs="String">
                <value />
            </setting>
            <setting name="Chat" serializeAs="String">
                <value>#barn2</value>
            </setting>
            <setting name="Data" serializeAs="String">
                <value>#data</value>
            </setting>
            <setting name="Botname" serializeAs="String">
                <value>Barny</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
            <setting name="Foo" serializeAs="String">
                <value>bar</value>
            </setting>
        </Barny.Properties.Settings>
    </userSettings>
</configuration>